rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    function isEditor() {
      return request.auth != null && get(/databases/$(database)/documents/users/$(request.auth.uid)).data.editor == true;
    }
  
    match /test/{doc} {
      allow read: if true;
      allow write: if isEditor();
    }

    match /games/{doc} {
      allow read: if true;
      allow write: if true;
    }

    match /purchases/{doc} {
      allow read: if true;
      allow write: if true;
    }
  }
}
