{:source-paths ["src"]
 :dependencies [[funcool/promesa "10.0.594"]
                [reagent "1.1.1"]]
 :dev-http {8080 "public"}

 :builds
 {:frontend {:target :browser
             :output-dir "public/js"
             :modules {:main {:init-fn game-catalog.ui/init!}}
             :compiler-options {:source-map true}}
  :karma {:target :karma
          :output-to "target/karma/test.js"
          :ns-regexp "-test$"}}}
