{:source-paths ["src"]
 :dependencies [[reagent "1.1.1"]]
 :dev-http {8080 "public"}
 :builds {:frontend {:target :browser
                     :output-dir "public/js"
                     :modules {:main {:entries [game-catalog.ui]}}
                     :compiler-options {:source-map true}}}}
