main {
    margin: 1.5rem 2rem;
}

.spreadsheet {

    td { /* Focusable table cells */
        outline: none;
        cursor: pointer;

        &:focus {
            background-color: var(--accent-bg);
            outline: 2px solid var(--accent);
            outline-offset: -2px;
        }
    }

    tr:has(td:focus) { /* Highlight row containing focused cell */
        background-color: #f5f5f5;
    }
}
