main {
    margin: 1.5rem 2rem;
}

.spreadsheet {
    td, th {
        vertical-align: top;
        text-align: left;
    }

    /* Focusable table cells */

    td {
        outline: none;
        cursor: pointer;

        &:focus {
            background-color: var(--accent-bg);
            outline: 2px solid var(--accent);
            outline-offset: -2px;
        }

        &:has(input) {
            padding: 2px;
        }

        input {
            width: 100%;
            box-sizing: border-box;
            padding: 0.5rem;
            margin: 0;
        }
    }

    /* Highlight the focused row */

    tr.viewing:has(td:focus) {
        background-color: #f5f5f5;
    }

    tr.editing {
        background-color: var(--marked);
    }
}
